.btn {
    margin-bottom: 15%;
    background-color: #43c59e;
    outline-color: pink ;
    margin-left: 5%;
    margin-right: 5%;
}

.background {
    background-color: #14453D;
}

.header {
    background-color: #43c59e;
    outline-color: #43c59e ;
}

